* {
    margin: 0;
    padding: 0;
}

.root {
    max-width: 1260px;
}

.app {
    margin: 0 auto;
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.board {
    width: calc(64px * 8);
    height: calc(64px * 8);
    display: flex;
    flex-wrap: wrap;
}

.cell {
    width: 64px;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell img {
    width: 48px;
    height: 48px;
}

.black {
    background-color: rgb(83, 83, 83);
}

.white {
    background-color: rgb(250, 47, 81);
}

.selected {
    background-color: brown;
}

.available {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    background-color: #1fb61f;
}